<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gitdemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />
<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
<!-- 闪光灯权限 -->
<uses-permission android:name="android.permission.FLASHLIGHT"/>
<!-- 接收短信权限 -->
<uses-permission android:name="android.permission.RECEIVE_SMS"/>
<!-- 发送短信权限 -->
<uses-permission android:name="android.permission.SEND_SMS"/>
<!-- 获取打开相机的权限 -->
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
<!-- 联网权限 -->
<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:name="com.example.gitdemo.MyApplicaton">
        <receiver android:name="com.example.gitdemo.MyBroadCastReceiver">
            <intent-filter >
                <action android:name="com.example.screentest.MyBroadCast"/>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.example.gitdemo.controller.MyLongRunningBroadCastReceiver"></receiver>
        
        <activity
            android:name="com.example.gitdemo.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.gitdemo.MainActivity"></activity>
        <activity android:name="com.example.gitdemo.DataBaseActivity"></activity>
        <activity android:name="com.example.gitdemo.NotificationActivity"></activity>
        <activity android:name="com.example.gitdemo.TakePhotoActivity"></activity>
        <activity android:name="com.example.gitdemo.PlayMusicActivity"></activity>
        <activity android:name="com.example.gitdemo.PlayVideoActivity"></activity>
        <activity android:name="com.example.gitdemo.UpdataUIActivity"></activity>
        <activity android:name="com.example.gitdemo.TestServiceActivity"></activity>
        <activity android:name="com.example.gitdemo.WebViewTestActivity"></activity>
        <activity android:name="com.example.gitdemo.HttpTestActivity"></activity>
        
        
        
        
        
        <service android:name="com.example.gitdemo.service.MyService"></service>
        <service android:name="com.example.gitdemo.service.MyBindService"></service>
        <service android:name="com.example.gitdemo.service.MyForegroundService"></service>
        <service android:name="com.example.gitdemo.service.MyIntentService"></service>
        <service android:name="com.example.gitdemo.service.MyLongRunningService"></service>
    </application>

</manifest>
